# dependencies
node_modules
/.pnp
.pnp.js
package-lock.json

# Contract
contract/Cargo.lock
contract/neardev
contract/target

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.testnet