.AccountBg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-height: 18.75rem;
    opacity: 1;
    color: rgb(52, 71, 103);
    border-radius: var(--roundedXL);
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.account--main {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    transition-property: box-shadow;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border-radius: var(--roundedXL);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0 0.125rem 0.25rem -0.0625rem;
    overflow: visible;
    position: relative;
    margin: -64px 24px 16px 24px;
    padding: .7rem;
}

.AccountInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-info--avatar {
    width: 5rem;
    height: 5rem;
    border-radius: var(--roundedFull);
}

.account-info--name {
    margin-top: 1rem;
}