body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hgroup, input, legend, li, ol, p, pre, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

hr {
    flex-shrink: 0;
    border-top-width: 0;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin-top: 1rem;
    margin-right: 0;
    border-bottom-style: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

h4 {
    font-size: calc(var(--index) * 1.4);

}

h5 {
    font-size: calc(var(--index) * 1.2);
}

h6 {
    font-size: calc(var(--index));
}