.Header {
    width: 100%;
    --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: .5rem;
    border-radius: var(--roundedXL);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    position: sticky;
    margin-top: 0.7rem;
}

.header--page-info--title {
    --tw-text-opacity: 1;
    color: var(--systemPrimary);
    text-transform: capitalize;
    font-size: 33px;
    flex-shrink: 1;
}

.HeaderSearch {
    width: 225px;
    --tw-text-opacity: 1;
    color: var(--systemPrimary);
    background-color: var(--bgOnLight);
    border-radius: var(--roundedFull);
    align-items: center;
    height: 100%;
    display: flex;
}

.header-search--input {
    width: fit-content;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-text-opacity: 1;
    color: var(--systemPrimary);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: var(--bgOnLight);
    height: 100%;
    display: block;
    border: 0 solid #e9ecef;
    border-radius: var(--roundedFull);
}

.Sidebar {
    margin: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1.25rem 1.6875rem 0;
    background-image: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    overflow-y: auto;
    height: calc(100vh - 2rem);
    border-radius: var(--roundedXL);
}

.sidebar--title {
    padding: 24px 32px 8px 32px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.23;
    text-align: center;
}

.sidebar---items {
    padding: 0 1rem 1rem 1rem;
}

.NavItem {
    margin: auto;
}

.nav-item-wrapper {
    display: flex;
    align-items: center;
    padding: .8rem .5rem .7rem .8rem;
    border-radius: var(--roundedMD);
}

.nav-item-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-item--active {
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}

.nav-item--text {
    margin-left: 0.7rem;
    font-weight: 300;
    font-size: 0.875rem;
}