.DefaultLayout {
    display: flex;
    flex-direction: row;
}

.app-view {
    padding-right: 1.5rem;
    overflow-y: scroll;
    width: 78vw;
    height: calc(100vh - 0.5rem);
}

.app-content {
    margin-top: calc(var(--index) * 4 + 2rem);
}

@media (max-width: 720px) {
    .DefaultLayout {
        flex-direction: column;
    }

    .app-view {
        width: 100vw;
        padding: 3vw;
        overflow-y: hidden;
        height: auto;
    }

    .app-content {
        margin-top: 3rem;
    }
}